@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <h1 class="display-6">Admin Portalı</h1>
    <hr />
    <div class="mt-5 d-flex justify-content-between">

        <div class="card shadow" style="width: 19rem;">
            <img src="https://img.freepik.com/free-vector/hand-drawn-essay-illustration_23-2150268421.jpg?w=826&t=st=1704876895~exp=1704877495~hmac=8c347c0ddaad319aea69e9ca94ce53a26b1f44f41e2c79500744fa097c092fdf" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Haber Yönetimi</h5>
                <p class="card-text">Haber ekleme, düzenleme ve silme işlemleri için.</p>
                <a asp-area="Admin" asp-controller="Article" asp-action="Index" class="btn btn-primary">Sayfaya git</a>
            </div>
        </div>

        <div class="card shadow" style="width: 19rem;">
            <img src="https://img.freepik.com/free-vector/checklist-concept-illustration_114360-479.jpg?w=826&t=st=1704876975~exp=1704877575~hmac=79aecd10c1e3392643e46f97806377097f1ee4a72921c0d19a0b52e2e6a6823a" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kategori Yönetimi</h5>
                <p class="card-text">Kategori ekleme, düzenleme ve silme işlemleri için.</p>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-primary">Sayfaya git</a>
            </div>
        </div>

        <div class="card shadow" style="width: 19rem;">
            <img src="https://img.freepik.com/free-vector/personal-settings-concept-illustration_114360-2659.jpg?w=826&t=st=1704877028~exp=1704877628~hmac=94b095136c3b0ca5ca5c12eb0ebb74c8e0baa0c1d7c1b9bc17d2c3fa0090ea0d" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Yönetimi</h5>
                <p class="card-text">Kullanıcı ekleme, düzenleme ve silme işlemleri için.</p>
                <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-primary">Sayfaya git</a>
            </div>
        </div>

        <div class="card shadow" style="width: 19rem;">
            <img src="https://img.freepik.com/free-vector/choice-worker-concept_23-2148642741.jpg?w=826&t=st=1704877090~exp=1704877690~hmac=3432bbad63fd512d049a23a98eaa7130c9a8e61e58d633e01dbb0d3f42ddeb53" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Rol Yönetimi</h5>
                <p class="card-text">Rol ekleme ve silme işlemleri için.</p>
                <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="btn btn-primary">Sayfaya git</a>
            </div>
        </div>

    </div>
</div>

